*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    top: 0;
    left: 0;
 
    background:rgb(237, 233, 233);
}
.container{
    position:relative;

width: 1440px;
height: 1844px;

background: #F3F3F3;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
header{
    position:absolute;
    display: flex;
  
width: 1120px;
height: 35px;
left: calc(50% - 1120px/2);
top: 102px;

}
.logo{
    position: absolute;
   bottom: 0px;
    left:0px;
    width: 67.2px;
    height: 23px;
    background-image: url(./site-logo\ \(1\).png);
}
.section{
    display: flex;
    position: absolute;
   top: 0px;
    right: 0px;
   

}
.section span{
     margin: 40px;
     margin-top: 0%;

   
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 120%;


letter-spacing: -0.03em;



color: #181717;
cursor: pointer;
    
}

.section span:hover{
    color: blue;
}

.bod{
    position: absolute;
width: 1120px;
height: 1242px;
left: 160px;
top: 360px;
}
.about{
    position: absolute;
width: 100%;
height: 590px;
left:0px;
top:0px;
}
.sec-1{
    position: absolute;
    width: 480px;
    height: 199px;
    left: 0px;
    top: 0px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 97.2%;
 
    
    letter-spacing: -0.03em;
  
    
    color: #181717;

}
.sec-2{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 575px;
height: 359px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 117%;

letter-spacing: -0.03em;

color: #606060;
}

.sec-3{
    position: absolute;
width: 421px;
height: 590px;
top: 0px;
right: 0px;
background-image: url(./IMG_20220701_084925333\ \(2\).jpg);
background-repeat: no-repeat;
background-size: cover;
}

.info{
    position: absolute;
    display: flex;
    grid-template-columns: 1fr 2fr;
    top: 726px;
    left: 0px;
    width: 623px;
    height: 216px;
   
}


.tit{
    display: grid;
 
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;

letter-spacing: -0.03em;



color: #181717;
}
.tit1{
    position: absolute;
    width: 124px;
    height: 20px;
    left:0px;
    top: 0px;
    text-decoration-line: underline;
    
} 
.tit2{
    position: absolute;
    width: 124px;
    height: 20px;
    left:0px;
    bottom: 21px;
    text-decoration-line: underline;
    
}

 .titInfo span{
    position: absolute;
   
width: 436px;
height: 54px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 121.5%;

letter-spacing: -0.03em;


color: #181717;
 }
 .i1{
    position: absolute;
    top: 0px;
    right: 0px;
 }
 .i2{
    position: absolute;
    top: 76px;
    right: 0px;
 }
 .i3{
    position: absolute;
   bottom: 0px;
    right: 0px;
 }
 .seperator{
    position: absolute;
width: 1120px;
height: 2px;
left: 0px;
bottom: 166px;

background: #181717;

 }

 .contact{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;

    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 117%;

letter-spacing: -0.03em;

color: #181717;
   
 }
 .nextPro{
    position: absolute;
width: 347px;
height: 71px;
left: 0px;
bottom:22px;


 }
 .ar{
    position: absolute;
width: 21px;
height: 24px;
right: 64px;
bottom: 4px;


transform: rotate(-90deg);
background-image: url(./↓.png);
background-size: cover;
 }

 .mail{
    position: absolute;
width: 372px;
height: 37px;
right: 79px;
top: 80px;

cursor: pointer;
 }

 .mail:hover{
    color: blue;
 }
 

 .view{
    position: absolute;
width: 110px;
height: 22px;
right: 341px;
bottom: 0px;

font-size: 18px;
line-height: 121.5%;
cursor: pointer;

 }
 .view:hover{
    color: #2429AF;
 }

 footer{
    position: absolute;
width: 1120px;
height: 20px;
left: 160px;
bottom: 70px;
}

.bot-1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 120%;


letter-spacing: -0.03em;



color: #2429AF;
}

.bot-2{
    display: flex;
    position: absolute;
    bottom: 0%;
    top: 0%;
    right: 0%;
}
.bot-2 span{
    margin: 31.74px;
    margin-top: 0%;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 120%;


letter-spacing: -0.03em;


color: #181717;

}
.bot-2 span.social-T{
    margin-right: 5px;
}

.bot-2 span:hover{
    color: aquamarine;
    
}


 